@import '~variables';

.header {
  z-index: 50;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  padding: 0 20px;
  background-color: $red;

  @include breakpoint(medium) {
    justify-content: space-between;
    padding: 0 20px;
  }

  @include breakpoint(large) {
    padding: 0 60px;
  }

  &__contact {
    display: none;
    line-height: (35 / 16);
    font-family: $font-primary;
    font-size: rem-calc(16px);
    font-weight: 600;
    color: $white;

    @include breakpoint(xlarge) {
      display: block;
    }
    
    a {
      color: $white;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__logo {
    display: inline-block;
    justify-self: center;

    svg {
      width: 240px;
      height: 30px;
      fill: $white;

      @include breakpoint(medium) {
        width: 350px;
        height: 30px;
      }
    }
  }

  &__utilities {
    display: none;

    @include breakpoint(medium) {
      display: block;
    }

    li {
      display: inline-block;
    }

    li + li {
      margin-left: 16px;
    }
  }

  &__mobile-btn {
    display: inline-block;
    padding: 0;
    background-color: transparent;
    border: 0;

    @include breakpoint(medium) {
      display: none;
    }

    &:hover {
      background-color: transparent;
    }
  }
}