<header class="header">
  <div class="header__contact">
    <a href="tel: {{ phone }}" target="_blank">P: {{ phone }}</a> | <a href="mailto:{{ email }}" target="_blank">{{ email }}</a>
  </div>
  <a class="header__logo" href="https://brynathyn.edu/" aria-label="Bryn Athyn Home link">
    {% include 'icon.twig' with {
      name: 'logo',
    } %}
  </a>
  <ul class="header__utilities">
    {% for cta in ctas %}
      <li><a class="btn" href="{{ cta.href }}">{{ cta.text }}</a></li>
    {% endfor %}
  </ul>
  <a class="header__mobile-btn btn" href="/#contact">Contact</a>
</header>