@import '~variables';

// Accordion
//
// <p>Accordions are traditional components typically used to group similar
// content types in an orderly fashion, whilst preserving a page's vertical
// real-estate. It enables a user to toggle the visibility of these content nodes
// when they're finished with it. This is particularly helpful for mobile users
// with limited screen space and visually impaired users who need to navigate this
// otherwise cumbersome content with a screen reader, preventing audio 'noise'.</p>
// <p>This accordion comes with a configuration attribute,
// <code>data-accordion-config-single</code>
// that enables you to decide whether you want the accordion panel siblings to
// close or remain opened when selecting another panel.
// The example below is set to <code>true</code>.</p>
// <p>Engineers may also notice the use of the CSS property <code>visibility</code>
// as we toggle these windows, as opposed to <code>display</code>. This allows us
// to make the cooresponding content completely inaccessible to keyboard tabbing
// while still maintaining any <code>transition</code> for animation purposes.
// This is something that would otherwise be impossible without some sort of
// outside animation dependency like GSAP or Vue transitions. You can override
// the easing and speed for this in your own css.</p>
//
// Markup: accordion.html
//
// Styleguide Components.Accordion

.accordion {

  &__panel + &__panel {
    border-top: 1px solid #dcdcdc;
  }

  &__header {
    margin: 0;
  }

  &__button {
    margin: 0;
    border: 0;
    padding: 20px 14px;
    width: 100%;
    background-color: #f4f4f4;
    text-align: left;
    appearance: none;
  }

  &__window {
    margin: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: .2s ease-in-out;
  }

  &__content {
    padding: 20px 14px;
  }

  p:nth-child(1) {
    margin-top: 0;
  }
}
