@mixin heading-style-1() {
  line-height: (90 / 75);
  font-family: $font-primary;
  font-size: rem-calc(60px);
  font-weight: 400;

  @include breakpoint(medium) {
    line-height: (125 / 164);
    font-size: rem-calc(100px);
  }

  @include breakpoint(xlarge) {
    font-size: rem-calc(130px);
  }
}

@mixin heading-style-2() {
  line-height: (125 / 126);
  font-family: $font-primary;
  font-size: rem-calc(126px);
  font-weight: 400;

  @include breakpoint(medium) {
    line-height: (125 / 126);
    font-size: rem-calc(126px);
  }
}

@mixin heading-style-3() {
  line-height: (200 / 115);
  font-family: $font-secondary;
  font-size: rem-calc(115px);
  font-weight: 600;

  @include breakpoint(medium) {
    line-height: (200 / 115);
    font-size: rem-calc(115px);
  }
}

@mixin heading-style-4() {
  line-height: (90 / 75);
  font-family: $font-primary;
  font-size: rem-calc(60px);
  font-weight: 400;

  @include breakpoint(medium) {
    font-size: rem-calc(70px);
  }
}

@mixin heading-style-5() {
  line-height: (45 / 30);
  font-family: $font-secondary;
  font-size: rem-calc(20px);
  font-weight: 600;
  text-transform: uppercase;

  @include breakpoint(large) {
    font-size: rem-calc(24px);
  }
}

@mixin heading-style-lg() {
  line-height: (186 / 155);
  font-family: $font-secondary;
  font-size: rem-calc(50px);
  font-weight: 500;

  @include breakpoint(medium) {
    font-size: rem-calc(100px);
  }

  @include breakpoint(xlarge) {
    font-size: rem-calc(120px);
  }
}

@mixin subheading-style-1() {
  line-height: (24 / 20);
  font-family: $font-secondary;
  font-size: rem-calc(18px);
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;

  @include breakpoint(medium) {
    line-height: (24 / 20);
    font-size: rem-calc(20px);
  }
}

@mixin paragraph-style-1() {
  line-height: (35 / 25);
  font-family: $font-primary;
  font-size: rem-calc(18px);
  font-weight: 400;

  @include breakpoint(medium) {
    line-height: (35 / 25);
    font-size: rem-calc(22px);
  }
}