<section class="image-window">
  <div class="image-window__inner">
    {% for image in images %}
      <div class="image-window__pane">
        <div class="image-window__image">
          {% if not image.src %}
            {% set image = {
              src: Image(image).src('Long'),
              alt: Image(image).alt
            } %}
          {% endif %}
          <img src="{{ image.src }}" alt="{{ image.alt }}" />
        </div>
      </div>
    {% endfor %}
  </div>
</section>