@import '~variables';

.image-window {
  padding: 60px 0;

  @include breakpoint(large) {
    padding: 100px 0;
  }

  &__inner {
    @include flex-grid-row;
  }

  &__pane {
    @include flex-grid-column(12);

    @include breakpoint(large) {
      @include flex-grid-column(6);
    }
  }

  &__pane + &__pane {
    margin-top: 20px;

    @include breakpoint(large) {
      margin-top: 0;
    }
  }

  &__image {
    position: relative;
    width: 100%;
    padding-top: 50%;
    overflow: hidden;

    @include breakpoint(large) {
      padding-top: 110%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}