<section class="cta-divider">
  <div class="cta-divider__top">
    <div class="cta-divider__inner">
      <div class="cta-divider__main">
        <h2 class="cta-divider__heading heading-style-4 text-dark">{{ heading }}</h2>
        {% if paragraph %}
          <p class="cta-divider__p paragraph-style-1 text-primary">{{ paragraph }}</p>
        {% endif %}
        {% if ctas %}
          <ul class="cta-divider__ctas">
            {% for cta in ctas %}
              <li><a class="btn--red" href="{{ cta.href }}">{{ cta.text }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
    <svg class="cta-divider__diamond-decor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 777 777">
      <path d="M771.8 375.8L401.2 5.2c-7-7-18.3-7-25.3 0L5.2 375.8c-7 7-7 18.3 0 25.3l370.6 370.6c7 7 18.3 7 25.3 0l370.6-370.6c7.1-6.9 7.1-18.3.1-25.3zm-6.1 6.1c.8.8 1.4 1.7 1.9 2.7h-55.5L392.8 65.2l.1-55.6c.8.4 1.6 1 2.3 1.7l370.5 370.6zm-377.2 320l-91.7-91.7 28.9-26.1c.2-.2.5-.5.6-.7 36.4 32.1 91.3 31 126.3-2.6l29.9 27.1-94 94zm0-628.9l96.7 96.7-26.7 27.3c-34.2-38.7-93.2-42.3-131.9-8.2-1.3 1.1-2.5 2.3-3.8 3.5L296.6 165l91.9-92zm131.1 398.2c-14 0-27.8-3.5-40.2-10.1 41.9-9.8 67.9-51.6 58.2-93.5-6.5-28.1-28.1-50.3-56-57.6 42-21 93.1-4 114.1 38.1 21 42 4 93.1-38.1 114.1-11.8 6-24.8 9-38 9zM388.1 598.1c-47 0-85.1-38-85.1-85 0-13.5 3.2-26.8 9.3-38.8 8.8 42.1 50 69.1 92.1 60.3 29.9-6.2 53.4-29.3 60.1-59.1 20.7 42.2 3.3 93.1-38.9 113.8-11.6 5.9-24.5 8.8-37.5 8.8zm-215-211.9c0-47 38-85.1 85-85.1 13.1 0 26.1 3 37.9 8.9-41.6 10.7-66.7 53.2-56 94.8 7.3 28.2 29.7 50.1 58.2 56.5-41.5 22.1-93 6.4-115.1-35-6.6-12.4-10-26.2-10-40.1zM388.5 174c47 0 85.1 38 85.1 85 0 13-3 25.9-8.7 37.6-8.6-42.1-49.7-69.3-91.8-60.7-30.7 6.3-54.6 30.2-60.8 60.9-20.8-42.1-3.6-93.1 38.5-114 11.7-5.8 24.6-8.8 37.7-8.8zm0 170.2c-20.9 0-41.2-7.7-56.7-21.7 32.3-28.7 81-28.5 113.1.3-15.6 13.8-35.6 21.4-56.4 21.4zm51.1-6.7c-18.2 29.9-18.2 67.5.1 97.4-30.4-20.1-69.7-20.8-100.7-1.6 17.2-29.4 17.1-65.8-.4-95 30.9 19.5 70.4 19.2 101-.8zm-116.4-6.2c26.9 31.7 26.9 78.1 0 109.8-26.9-31.7-26.9-78.2 0-109.8zm64.9 96.6c20.9 0 41.1 7.7 56.6 21.6-32.2 28.9-81 28.9-113.3 0 15.7-13.9 35.8-21.6 56.7-21.6zm65.7 12.2c-25.8-31.4-25.8-76.6 0-108 25.9 31.4 25.9 76.7 0 108zM451 316.8c-35.5-32.2-89.6-32.4-125.3-.4-2.3-2.5-4.4-5.1-6.3-7.8 2-38.2 34.6-67.6 72.8-65.6 35.4 1.8 63.7 30.1 65.6 65.5-2.1 2.9-4.4 5.7-6.8 8.3zM317.3 325c-30.4 35.1-30.4 87.2 0 122.3-2.6 2.5-5.4 4.9-8.2 7-38.1-3.5-66.2-37.2-62.7-75.3 3-32.5 28.3-58.5 60.7-62.5 3.6 2.6 7 5.4 10.2 8.5zm8.1 130.6c35.6 32.2 89.8 32.2 125.4 0 2.4 2.7 4.7 5.5 6.8 8.5-3.1 38.1-36.4 66.6-74.6 63.5-34.3-2.7-61.4-30.3-63.6-64.7 1.9-2.5 3.9-5 6-7.3zm134.2-9.1c29.5-34.8 29.5-85.9 0-120.7 3.4-3.4 7.1-6.4 11-9.2 38 4.9 64.7 39.7 59.8 77.6-4.1 31.9-29.7 56.8-61.8 60.1-3.1-2.4-6.1-5-9-7.8zm60-154c-18.1 0-35.9 5.3-51.1 15.2 19.7-32.4 17.9-73.5-4.6-104l.2-.2 27.1-27.7 120.9 120.9-25.7 24c-17.5-18-41.6-28.2-66.8-28.2zM290.5 171l26.5 27.6c-25.9 30.5-29.5 74-9 108.3-37.3-23.6-86-17.8-116.8 13.8l-26.4-24.1L290.5 171zM158.9 302.7l26.7 24.4c-28 34.4-28 83.7 0 118l-28.1 25.7-83.4-83.4 84.8-84.7zm32.4 148.8c30.5 31.4 78.8 37.3 116 14.3-21.1 35.9-15.8 81.5 13 111.6-.1.1-.2.1-.3.2L290.8 604 163.5 476.9l27.8-25.4zm297.3 150.3l-30-27.2c27-30.8 30.8-75.5 9.4-110.4 37.4 24.8 87 19.5 118.4-12.5l25.9 26.4-123.7 123.7zm129.7-129.7L592 445.4c28.1-34.4 28.2-83.8.1-118.2l26-24.4 84.7 84.7-84.5 84.6zM381.9 11.3c.7-.7 1.5-1.3 2.4-1.7l-.1 55.7L66.3 383.2H10.2c.3-.5.7-.9 1.1-1.3L381.9 11.3zM11.3 395.1c-1-1-1.7-2.1-2.2-3.4h57.2l317.6 317.6v57.9c-.7-.4-1.4-.9-2-1.5L11.3 395.1zm383.8 370.6c-.8.8-1.7 1.4-2.7 1.9V710l316.9-316.9h57.9c-.4.7-.9 1.4-1.5 2L395.1 765.7z" />
    </svg>
  </div>
  <svg class="cta-divider__divider-decor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 56.1">
    <path d="M986.1 2.6H1920V0H986.1c-9.9 0-19.3 4.3-25.7 11.8l-.4.5-.4-.5C953.2 4.3 943.8 0 933.9 0H0v2.6h933.9c9.1 0 17.8 4 23.7 10.9l.7.8-.3.4.3.4-.7.8c-1.2 1.4-2.6 2.7-4 3.9-5.7-4.1-12.6-6.4-19.7-6.4H0V16h933.9c6.3 0 12.4 1.9 17.6 5.4-5.2 3.5-11.3 5.4-17.6 5.4H0v2.6h933.9c6.3 0 12.4 1.9 17.6 5.4-5.2 3.5-11.3 5.4-17.6 5.4H0v2.6h933.9c7.1 0 14-2.2 19.7-6.4 1.5 1.2 2.8 2.5 4 3.9l.7.8-.3.4.3.4-.7.8c-5.9 6.9-14.6 10.9-23.7 10.9H0v2.6h933.9c9.9 0 19.3-4.3 25.7-11.8l.4-.5.4.5c6.4 7.5 15.8 11.8 25.7 11.8H1920v-2.6H986.1c-9.1 0-17.8-4-23.7-10.9l-.7-.8.3-.4-.3-.4.7-.8c1.2-1.4 2.6-2.7 4-3.9 5.7 4.1 12.6 6.4 19.7 6.4H1920v-2.6H986.1c-6.3 0-12.4-1.9-17.6-5.4 5.2-3.5 11.3-5.4 17.6-5.4H1920v-2.6H986.1c-6.3 0-12.4-1.9-17.6-5.4 5.2-3.5 11.3-5.4 17.6-5.4H1920v-2.6H986.1c-7.1 0-14 2.2-19.7 6.4-1.5-1.2-2.8-2.5-4-3.9l-.7-.8.3-.4-.3-.4.7-.8c5.9-6.9 14.6-10.9 23.7-10.9zm-43 25.5c3.8-1.1 7.3-2.8 10.5-5.1 1.5 1.2 2.8 2.5 4 3.9l.7.8-.3.4.3.4-.7.8c-1.2 1.4-2.6 2.7-4 3.9-3.1-2.3-6.7-4.1-10.5-5.1zm17.3 10.5l-.4.5-.4-.5c-1.2-1.4-2.5-2.7-3.9-3.9 1.4-1.2 2.7-2.5 3.9-3.9l.4-.5.4.5c1.2 1.4 2.5 2.7 3.9 3.9-1.4 1.2-2.7 2.5-3.9 3.9zm16.5-10.5c-3.8 1.1-7.3 2.8-10.5 5.1-1.5-1.2-2.8-2.5-4-3.9l-.7-.8.3-.4-.3-.4.7-.8c1.2-1.4 2.6-2.7 4-3.9 3.1 2.3 6.7 4 10.5 5.1zm-16.5-10.6c1.2 1.4 2.5 2.7 3.9 3.9-1.4 1.2-2.7 2.5-3.9 3.9l-.4.5-.4-.5c-1.2-1.4-2.5-2.7-3.9-3.9 1.4-1.2 2.7-2.5 3.9-3.9l.4-.5.4.5z" />
  </svg>
</section>