@import '~variables';

.cta-divider {
  overflow: hidden;

  @include breakpoint(medium) {
    overflow: visible;
  }

  &__top {
    position: relative;
    padding: 60px 0 0;
    margin-bottom: 60px;
    overflow: hidden;

    @include breakpoint(large) {
      padding: 100px 0 0;
    }
  }

  &__inner {
    @include flex-grid-row;

    @include breakpoint(medium) {
      margin-bottom: 100px;
    }
  }

  &__main {
    @include flex-grid-column(12);

    @include breakpoint(medium) {
      @include flex-grid-column(8);
    }
  }

  &__p + &__ctas {
    margin-top: 60px;
  }

  &__ctas {
    li {
      display: inline-block;
      width: 100%;
      margin-bottom: 30px;

      @include breakpoint(medium) {
        width: auto;
      }
    }

    li + li {
      @include breakpoint(medium) {
        margin-left: 60px;
      }
    }
  }

  &__diamond-decor,
  &__divider-decor {
    fill: $gold;
  }

  &__diamond-decor {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: -1;
    display: none;
    height: 80%;
    transform: translate(60%, -50%);

    @include breakpoint(medium) {
      display: block;
    }

    @include breakpoint(xlarge) {
      transform: translate(20%, -50%);
    }
  }

  &__divider-decor {
    display: block;
    width: 500%;
    transform: translateX(-40%);

    @include breakpoint(medium) {
      width: 100%;
      transform: none;
    }
  }
}
