// Local Fonts

@font-face {
  font-family: Quincy;
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/quincy/Quincy-CF.woff') format('woff');
}

@font-face {
  font-family: Odubo;
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/odudo/odudo.woff') format('woff');
}

@font-face {
  font-family: Odubo;
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/odudo/odudo-semi-bold.woff') format('woff');
}

@font-face {
  font-family: Odubo;
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/odudo/odudo-bold.woff') format('woff');
}