html {
  scroll-behavior: smooth;
}

.page {
  overflow: hidden;
  padding-top: 70px;
}

p {
  a {
    color: inherit;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
