@import '~variables';

.scrap-divider {
  position: relative;
  background-size: cover;
  background-position: center;

  &__inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 100px 0;

    @include breakpoint(medium) {
      padding: 150px 0;
    }
  }

  &__main-wrap {
    position: relative;
    width: 100%;
    max-width: 768px;

    @include breakpoint(xlarge) {
      max-width: 900px;
    }
  }

  &__main {
    position: relative;
    width: 100%;
    padding: 40px;
    background-color: $gold;

    @include breakpoint(medium) {
      padding: 100px;
    }
  }

  &__building {
    position: absolute;
    top: -100px;
    left: -200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    background-color: $honey;
    transform: rotate(-15deg);

    @include breakpoint(medium) {
      top: -270px;
      left: -416px;
      width: 870px;
      height: 430px;
    }

    svg {
      width: 360px;
      height: 150px;
      fill: $navy;

      @include breakpoint(medium) {
        width: 815px;
        height: 350px;
      }
    }
  }

  &__heading {
    color: $white;

    strong {
      font-weight: 500;
      opacity: 0.4;
    }
  }

  &__logo {
    position: absolute;
    top: 200px;
    left: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 75px;
    background-color: $red;
    transform: rotate(15deg);
    transform-origin: bottom left;

    @include breakpoint(medium) {
      top: 0;
      width: 500px;
      height: 90px;
      transform: rotate(87deg);
    }

    @include breakpoint(large) {
      left: -100px;
    }

    @include breakpoint(xlarge) {
      width: 700px;
      height: 130px;
    }

    svg {
      width: 85%;
      fill: $white;
    }
  }

  &__emblem {
    position: absolute;
    right: -50px;
    bottom: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: $pink;

    @include breakpoint(medium) {
      right: -70px;
      bottom: -70px;
      width: 240px;
      height: 240px;
    }

    svg {
      width: 130px;
      height: 130px;
      fill: $white;

      @include breakpoint(medium) {
        width: 200px;
        height: 200px;
      }
    }
  }
}

section + .scrap-divider,
div + .scrap-divider {
  margin-top: 60px;

  @include breakpoint(medium) {
    margin-top: 200px;
  }
}