{% if not background.src %}
  {% set background = {
    src: Image(background).src(),
    alt: Image(background).alt
  } %}
{% endif %}
<section class="scrap-divider" style="background-image: url({{ background.src }})">
  <div class="scrap-divider__inner">
    <div class="scrap-divider__main-wrap">
      <div class="scrap-divider__building">
        {% include 'icon.twig' with {
          name: 'decor_building',
        } %}
      </div>
      <div class="scrap-divider__main">
        <h2 class="scrap-divider__heading heading-style-lg">{{ heading }}</h2>
        <div class="scrap-divider__logo">
          {% include 'icon.twig' with {
            name: 'logo',
          } %}
        </div>
        <div class="scrap-divider__emblem">
          {% include 'icon.twig' with {
            name: 'emblem_pa',
          } %}
        </div>
      </div>
    </div>
  </div>
</section>