@import '~variables';

.footer {
  padding: 60px 0;
  background-color: $navy;

  &__inner {
    @include flex-grid-column(12);
    @include flex-grid-row;

    position: relative;
    flex-direction: column;
  }

  .icon {
    display: block;
    width: 240px;
    height: 30px;
    fill: $white;

    @include breakpoint(medium) {
      width: 350px;
      height: 30px;
    }
  }

  &__logo + p {
    margin-top: 30px;
  }

  p {
    line-height: (35 / 20);
    font-family: $font-primary;
    font-size: rem-calc(20px);
    font-weight: 400;
    color: $white;

    a {
      color: $white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  p + &__btn {
    margin-top: 30px;

    @include breakpoint(medium) {
      margin-top: 0;
    }
  }

  &__btn {
    top: 0;
    right: 20px;
    width: auto;
    min-width: 0;

    @include breakpoint(medium) {
      position: absolute;
      right: 15px;
    }

    &:hover,
    &:focus {
      background-color: $gold;
    }
  }
}
