<footer class="footer">
  <div class="footer__inner">
    <a class="footer__logo" href="/" aria-label="Footer Bryn Athyn home link">
      {% include 'icon.twig' with {
        name: 'logo',
      } %}
    </a>
    <p><a href="tel:{{ phone }}">{{ phone }}</a> | 2945 College Drive, 19009 | <a href="mailto:{{ email }}">{{ email }}</a><br>Copyright &#169; {{"now"|date('Y')}} Bryn Athyn</p>
    <a class="footer__btn btn--red" href="/#main">Scroll to Top</a>
  </div>
</footer>
