<section class="wide-image">
  {% if heading %}
    <div class="wide-image__inner">
      <h2 class="wide-image__heading heading-style-4 text-dark">{{ heading }}</h2>
    </div>
  {% endif %}
  <div class="wide-image__inner">
    <div class="wide-image__emblem wide-image__emblem--pa">
      {% include 'icon.twig' with {
        name: 'emblem_pa2',
      } %}
    </div>
    <div class="wide-image__emblem wide-image__emblem--star">
      {% include 'icon.twig' with {
        name: 'emblem_star',
      } %}
    </div>
    <div class="wide-image__image">
      {% if not image.src %}
        {% set image = {
          src: Image(image).src('scrap_divider'),
          alt: Image(image).alt
        } %}
      {% endif %}
      <img src="{{ image.src }}" alt="{{ image.alt }}" />
    </div>
  </div>
</section>