@import '~variables';

.wide-image {
  width: 100%;
  max-width: 1300px;
  padding: 60px 0;
  margin: 0 auto;

  @include breakpoint(large) {
    padding: 100px 0;
  }

  &__inner {
    @include flex-grid-row;
    @include flex-grid-column(12);
    position: relative;
  }

  &__inner + &__inner {
    margin-top: 60px;
  }

  &__emblem {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    @include breakpoint(large) {
      bottom: auto;
    }
  }

  &__emblem--pa {
    z-index: 2;
    right: 100px;
    bottom: -40px;
    width: 80px;
    height: 80px;
    background-color: $honey;

    @include breakpoint(medium) {
      right: 100px;
      bottom: -80px;
      width: 120px;
      height: 120px;
    }

    @include breakpoint(large) {
      top: -80px;
      right: 100px;
    }

    svg {
      width: 40px;
      height: 40px;
      fill: $navy;

      @include breakpoint(medium) {
        width: 60px;
        height: 60px;
      }
    }
  }

  &__emblem--star {
    z-index: 1;
    right: 5px;
    bottom: -80px;
    width: 120px;
    height: 120px;
    background-color: $gold;

    @include breakpoint(medium) {
      right: -20px;
      bottom: -120px;
      width: 160px;
      height: 160px;
    }

    @include breakpoint(large) {
      top: -160px;
      right: -20px;
    }

    svg {
      width: 70px;
      height: 100px;
      fill: $white;

      @include breakpoint(medium) {
        width: 100px;
        height: 130px;
      }
    }
  }

  &__image {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}