<section class="center-carousel" data-center-carousel>
  <h2 class="center-carousel__heading heading-style-4 text-dark">{{ heading }}</h2>
  <div class="center-carousel__window-wrap">
    <div class="center-carousel__controls" data-center-carousel-controls></div>
    <div class="center-carousel__window" data-center-carousel-window>
      {% for slide in slides %}
        <div class="center-carousel__slide">
          <div class="center-carousel__slide-inner">
            {% if not slide.image.src %}
              {% set image = {
                src: Image(slide.image).src('Center Carousel'),
                alt: Image(slide.image).alt
              } %}
            {% endif %}
            <img src="{{ image.src }}" alt="{{ image.alt }}" />
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="center-carousel__content-wrap" data-center-carousel-content-wrap>
    <div class="center-carousel__emblem center-carousel__emblem--deer">
      {% include 'icon.twig' with {
        name: 'emblem_deer',
      } %}
    </div>
    <div class="center-carousel__emblem center-carousel__emblem--year">
      {% include 'icon.twig' with {
        name: 'emblem_president',
      } %}
    </div>
    {% for slide in slides %}
      <div class="center-carousel__content" data-center-carousel-content>
        <h3 class="heading-style-5 text-red">{{ slide.heading }}</h3>
        <p class="paragraph-style-1 text-primary">{{ slide.paragraph }}</p>
      </div>
    {% endfor %}
  </div>
  <div class="center-carousel__dots-wrap dots-wrap" data-center-carousel-dots-wrap></div>
  {% include 'icon.twig' with {
    name: 'chevron_large',
    class: 'center-carousel__base-chevron'
  } %}
</section>