@import '~variables';
@import '~slick-carousel/slick/slick';

.center-carousel {
  position: relative;
  padding: 60px 0;

  @include breakpoint(large) {
    padding: 80px 0;
  }

  &__heading {
    @include flex-grid-row;
    @include flex-grid-column(12);

    @include breakpoint(large) {
      @include flex-grid-column(10);
    }

    justify-content: center;
    text-align: center;
  }

  &__heading + &__window-wrap {
    margin-top: 60px;
  }

  &__window-wrap {
    position: relative;
  }

  &__window-wrap + &__content-wrap {
    margin-top: 60px;
  }

  &__controls {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 50%;
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 42.638889%;
    height: 100%;
    margin: 0 auto;
    transform: translateX(-50%);
    pointer-events: none;

    @include breakpoint(medium) {
      display: flex;
    }
  }

  &__window {
    overflow: hidden;

    .slick-list {
      @include breakpoint(medium) {
        width: calc(100% + 800px);
        margin-left: -400px;
      }

      @include breakpoint(large) {
        width: calc(100% + 700px);
        margin-left: -350px;
      }

      @include breakpoint(xlarge) {
        width: calc(100% + 400px);
        margin-left: -200px;
      }
    }
  }

  &__content-wrap {
    position: relative;
    height: 350px;
    margin: 0 auto;
  }

  &__emblem {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__emblem--deer {
    top: 300px;
    left: -180px;
    width: 150px;
    height: 180px;
    background-color: $seagreen;

    @include breakpoint(xlarge) {
      top: -20px;
      left: -320px;
      width: 240px;
      height: 260px;
    }

    svg {
      width: 110px;
      height: 140px;
      fill: $navy;

      @include breakpoint(xlarge) {
        width: 155px;
        height: 180px;
      }
    }
  }

  &__emblem--year {
    top: 200px;
    left: -300px;
    width: 140px;
    height: 140px;
    background-color: $navy;
    transform: rotate(45deg);

    @include breakpoint(xlarge) {
      top: 170px;
      left: -440px;
      width: 200px;
      height: 200px;
    }

    svg {
      width: 160px;
      height: 160px;
      fill: $gold;
      transform: rotate(-45deg);
      overflow: visible;

      @include breakpoint(xlarge) {
        width: 240px;
        height: 240px;
      }
    }
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 20px;
    opacity: 0;
    visibility: hidden;
    transition: $transition-default;
    transform: translateY(20px);

    @include breakpoint(medium) {
      padding: 0;
    }

    &.active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  &__slide {
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__slide-inner {
    position: relative;
    transition: all 0.2s $ease-default;

    @include breakpoint(medium) {
      transform: scale(0.7);
    }

    .slick-center & {
      @include breakpoint(medium) {
        transform: scale(1);
      }
    }
  }

  .slick-arrow {
    @include carousel-arrow();
  }

  .slick-prev {
    margin-left: -10%;
  }

  .slick-next {
    margin-right: -10%;
  }

  &__dots-wrap {
    @include carousel-dots();

    position: absolute;
    bottom: 440px;
    width: 100%;

    @include breakpoint(medium) {
      position: static;
    }
  }
}
