@import '~variables';

.typography-sample {
  font-family: 'Open Sans', Helvetica, sans-serif;
  padding: 20px 15px;

  h2 {
    font-size: 14px;
    font-weight: 300;
    color: #c00;
  }

  h2 + div,
  .h2 + div,
  h2 + p,
  .h2 + p {
    margin-top: 10px;
  }

  div + h2,
  div + .h2 {
    margin-top: 40px;
  }

  .h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: (50 / 40);
  }

  .h2 {
    font-size: 30px;
    line-height: (40 / 30);
  }

  .h3 {
    font-size: 20px;
    line-height: (25 / 20);
  }

  .h4 {
    font-size: 16px;
    font-weight: 900;
    line-height: (20 / 16);
  }

  .h5 {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
  }

  p {
    font-size: 14px;
    line-height: (20 / 14);
    font-weight: 300;
  }

  p + p {
    margin-top: 20px;
  }
}