<div class="typography-sample">
    <h2>Heading Style 1</h2>
    <div class="h1">The quick brown fox jumps over the lazy dog</div>
    <h2>Heading Style 2</h2>
    <div class="h2">The quick brown fox jumps over the lazy dog</div>
    <h2>Heading Style 3</h2>
    <div class="h3">The quick brown fox jumps over the lazy dog</div>
    <h2>Heading Style 4</h2>
    <div class="h4">The quick brown fox jumps over the lazy dog</div>
    <h2>Heading Style 5</h2>
    <div class="h5">The quick brown fox jumps over the lazy dog</div>
    <h2>Paragraph</h2>
    <p>The quick brown fox jumps over the lazy dog. Lorem ipsum dolor sit amet, strong text in a paragraph. Duis nulla tellus, cursus quis diam eget, facilisis consequat leo. Morbi rutrum odio ac risus gravida pellentesque eget nec dolor. Quisque sit amet mollis enim. Nullam aliquet vitae orci vitae feugiat. Proin eu euismod risus, vel pellentesque magna.</p>
    <p>The quick brown fox jumps over the lazy dog. Lorem ipsum dolor sit amet, strong text in a paragraph. Duis nulla tellus, cursus quis diam eget, facilisis consequat leo. Morbi rutrum odio ac risus gravida pellentesque eget nec dolor. Quisque sit amet mollis enim. Nullam aliquet vitae orci vitae feugiat. Proin eu euismod risus, vel pellentesque magna.</p>
</div>