@import '~variables';
@import '~styles/utilities/typography';

.image-context {
  position: relative;
  overflow: hidden;

  @include breakpoint(large) {
    overflow: visible;
  }

  &__inner {
    @include flex-grid-row;
  }

  &__inner + &__inner {
    margin-top: 30px;

    @include breakpoint(medium) {
      margin-top: 60px;
    }
  }

  &__large-heading,
  &__main,
  &__image {
    @include flex-grid-column(12);
  }

  &__large-heading {
    text-align: center;

    @include breakpoint(medium) {
      text-align: left;
    }

    @include breakpoint(large) {
      @include flex-grid-column(9);
    }
  }

  &__main {
    display: flex;
    align-items: center;

    @include breakpoint(large) {
      @include flex-grid-column(5);
    }

    .image-context--reversed & {
      @include breakpoint(large) {
        order: -1;
      }
    }
  }

  &__content {
    .image-context-section--dark & {
      z-index: 1;
      position: relative;
      background-color: $navy;
    }
  }

  &__heading {
    .image-context-section--dark & {
      color: $gold;
    }
  }

  &__image {
    position: relative;

    .image-context--plus & {
      overflow: visible;
    }

    @include breakpoint(large) {
      @include flex-grid-column(7);

      .image-context--plus & {
        padding-left: 60px;
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__image + &__main {
    margin-top: 60px;

    @include breakpoint(large) {
      margin-top: 0;
    }
  }

  &__big-window {
    z-index: -1;
    position: absolute;
    left: 200px;
    display: none !important;
    width: 350px;
    height: 750px;
    fill: $gold;
    transform: translateY(-40%);

    @include breakpoint(large) {
      display: block !important;
    }

    .image-context:nth-child(3) & {
      transform: translateY(-50%);
    }

    .image-context--reversed & {
      right: 200px;
      left: auto;
    }
  }

  &__decor {
    position: absolute;
    top: -400px;
    right: -500px;
    fill: $gold;
    width: 800px;
    height: 400px;

    @include breakpoint(xlarge) {
      right: -550px;
      height: 450px;
    }

    .image-context--reversed & {
      right: auto;
      left: -500px;

      @include breakpoint(xlarge) {
        left: -550px;
      }
    }
  }

  &__image-ratio {
    z-index: 1;
    position: relative;
    padding-top: 80%;
    margin: 0 -20px;

    @include breakpoint(medium) {
      padding-top: 60%;
    }

    @include breakpoint(large) {
      padding-top: 80%;
      margin: 0;
    }

    .image-context--plus & {
      @include breakpoint(large) {
        margin: 30px 0 0;
      }
    }

    &::after {
      .image-context--plus & {
        content: '';

        @include breakpoint(large) {
          z-index: -1;
          position: absolute;
          top: -30px;
          left: -30px;
          width: 100%;
          height: 100%;
          background-color: $gold;
        }
      }
    }
  }

  &__shade {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $white;
    pointer-events: none;

    .image-context--reversed & {
      right: 0;
      left: auto;
    }

    .image-context-section--dark & {
      background-color: $navy;
    }
  }

  &__emblem {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    &:nth-child(2) {
      z-index: 2;
      right: 60px;
      bottom: -40px;
      width: 100px;
      height: 100px;
      background-color: $infrared;

      @include breakpoint(large) {
        right: 160px;
        bottom: -130px;
        width: 150px;
        height: 150px;
      }

      svg {
        width: 75px;
        height: 75px;
        fill: $white;

        @include breakpoint(large) {
          width: 110px;
          height: 110px;
        }
      }
    }

    &:nth-child(3) {
      z-index: 1;
      right: -10px;
      bottom: -20px;
      width: 130px;
      height: 130px;
      background-color: $honey;

      @include breakpoint(large) {
        right: 40px;
        bottom: -40px;
        width: 170px;
        height: 170px;
      }

      svg {
        width: 100px;
        height: 100px;
        fill: $navy;

        @include breakpoint(large) {
          width: 140px;
          height: 140px;
        }
      }
    }
  }

  &__decor-window {
    display: none !important;
    width: 56px;
    height: 56px;
    fill: $gold;

    @include breakpoint(large) {
      display: block !important;
    }
  }

  &__decor-window + &__subheading {
    margin-top: 0;

    @include breakpoint(large) {
      margin-top: 40px;
    }
  }

  p {
    @extend .paragraph-style-1;

    color: $charcoal;

    .image-context-section--dark & {
      color: $white;
    }
  }

  p + &__ctas {
    margin-top: 30px;
  }

  &__ctas {
    li {
      line-height: (26 / 16);
      font-family: $font-secondary;
      font-size: rem-calc(16px);
      font-weight: 600;
      text-transform: uppercase;
    }

    li + li {
      margin-top: 30px;
    }

    a {
      position: relative;
      align-items: center;
      color: $red;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      .icon {
        display: inline-block;
        align-self: flex-start;
        flex-shrink: 0;
        width: 6px;
        height: 12px;
        fill: $red;
        margin: 8px 0 0 20px;
      }
    }
  }

  + .image-context {
    margin-top: 60px;

    @include breakpoint(medium) {
      margin-top: 100px;
    }

    @include breakpoint(large) {
      margin-top: 250px;
    }

    .image-context-section--dark & {
      @include breakpoint(large) {
        margin-top: 500px;
      }
    }
  }
}

section + .image-context {
  margin-top: 60px;

  @include breakpoint(large) {
    margin-top: 100px;
  }
}