<div class="image-context{% if (reversed) or (index is even) %} image-context--reversed{% endif %}{% if plus %} image-context--plus{% endif %}" id="{{ subheading | replace({' ': '-'}) | lower }}">
  {% if not image.src %}
    {% set image = {
      src: Image(image).src('large'),
      alt: Image(image).alt
    } %}
  {% endif %}
  {% if plus %}
    <div class="image-context__inner">
      <div class="image-context__large-heading">
        <h2 class="image-context__heading heading-style-4 text-dark">{{ heading }}</h2>
      </div>
    </div>
  {% endif %}
  <div class="image-context__inner">
    <div class="image-context__image">
      {% if (index > 1) and (not dark) %}
        {% include 'icon.twig' with {
          name: 'decor_window' ~ index,
          class: 'image-context__big-window',
        } %}
      {% endif %}
      {% if dark %}
        {% include 'icon.twig' with {
          name: 'decor_dark' ~ index,
          class: 'image-context__decor',
        } %}
      {% endif %}
      <div class="image-context__image-ratio">
        <div class="image-context__shade"></div>
        {% if plus %}
          <div class="image-context__emblem">
            {% include 'icon.twig' with {
              name: 'emblem_year',
            } %}
          </div>
          <div class="image-context__emblem">
            {% include 'icon.twig' with {
              name: 'emblem_lion',
            } %}
          </div>
        {% endif %}
        <img src="{{ image.src }}" alt="{{ image.alt }}" />
      </div>
    </div>
    <div class="image-context__main">
      <div class="image-context__content">
        {% if plus %}
          {% if subheading %}
            <div class="image-context__subheading heading-style-5 text-red">{{ subheading }}</div>
          {% endif %}
        {% else %}
          {% if not dark %}
            {% include 'icon.twig' with {
              name: 'decor_window3',
              class: 'image-context__decor-window'
            } %}
            {% if subheading %}
              <div class="image-context__subheading subheading-style-1 text-red">{{ subheading }}</div>
            {% endif %}
          {% endif %}
          <h2 class="image-context__heading heading-style-5 text-dark">{{ heading }}</h2>
        {% endif %}
        {{ text }}
        {% if ctas %}
          <ul class="image-context__ctas">
            {% for cta in ctas %}
              <li>
                <a href="{{ cta.href }}">
                  {{ cta.text }}
                  {% include 'icon.twig' with {
                    name: 'chevron',
                  } %}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  </div>
</div>