@import '~variables';
@import '~styles/utilities/typography';

.contact-section {
  padding: 60px 0;
  background-color: $red;

  @include breakpoint(large) {
    padding: 100px 0;
  }

  &__inner {
    @include flex-grid-row;
  }

  &__inner + &__inner {
    margin-top: 60px;
  }

  &__heading {
    @include flex-grid-column(12);

    line-height: (103 / 86);
    font-family: $font-secondary;
    font-size: rem-calc(50px);
    font-weight: 600;
    color: $white;

    @include breakpoint(medium) {
      font-size: rem-calc(70px);
    }

    strong {
      // opacity: 0.2;
    }
  }

  &__image {
    @include flex-grid-column(12);

    @include breakpoint(large) {
      @include flex-grid-column(6);
    }

    img {
      width: 100%;
      background-color: $gold;

      @include breakpoint(large) {
        padding: 30px;
      }
    }
  }

  &__image + &__main {
    margin-top: 60px;

    @include breakpoint(large) {
      margin-top: 0;
    }
  }

  &__main {
    @include flex-grid-column(12);

    @include breakpoint(large) {
      @include flex-grid-column(6);
    }

    p {
      @extend .paragraph-style-1;

      color: $white;
    }
  }

  &__content {
    @include flex-grid-column(12);

    p {
      margin-top: 0 !important;

      @include breakpoint(large) {
        font-size: rem-calc(40px);
      }
    }
  }

  &__buttons {
    font-size: 0;
    margin-top: 30px;

    li {
      display: inline-block;
    }

    li + li {
      margin-left: 30px;
    }
  }

  .heading-style-5 + &__socials {
    margin-top: 20px;
  }

  &__socials {
    font-size: 0;

    li {
      display: inline-block;
    }

    li + li {
      margin-left: 30px;
    }

    a {
      display: block;

      svg {
        width: 56px;
        height: 56px;
        fill: $gold;
        transition: $transition-default;
      }

      &:hover svg {
        fill: $navy;
      }
    }
  }
}