<section class="contact-section" id="contact">
  <div class="contact-section__inner">
    <h2 class="contact-section__heading">{{ heading }}</h2>
  </div>
  <div class="contact-section__inner">
    <div class="contact-section__image">
      <img src="{{ image.src }}" alt="{{ image.alt }}" />
    </div>
    <div class="contact-section__main">
      {{ content }}
    </div>
  </div>
  <div class="contact-section__inner">
    <div class="contact-section__content">
      <h3 class="heading-style-5 text-light">Not into Phone Calls? Chat Online.</h3>
      <p class="paragraph-style-1 text-light">Should we stop talking and give you these links already?</p>
      <ul class="contact-section__buttons">
        {% for cta in ctas %}
          <li><a class="btn" href="{{ cta.href }}">{{ cta.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="contact-section__inner">
    <div class="contact-section__content">
      <h3 class="heading-style-5 text-light">It's Ok to Be a Social Media Follow.</h3>
      <ul class="contact-section__socials">
        <li><a href="https://twitter.com/bryn_athyn" target="_blank" aria-label="Twitter">
          {% include 'icon.twig' with {
            name: 'social_twitter',
          } %}
        </a></li>
        <li><a href="https://www.instagram.com/brynathyncollege/?hl=en" target="_blank" aria-label="Instagram">
          {% include 'icon.twig' with {
            name: 'social_instagram',
          } %}
        </a></li>
        <li><a href="https://www.facebook.com/brynathyncollege/" target="_blank" aria-label="Facebook">
          {% include 'icon.twig' with {
            name: 'social_facebook',
          } %}
        </a></li>
      </ul>
    </div>
  </div>
</section>