{% block html_head_container %}

{% include 'html-header.twig' %}
  {% block head %}
  {% endblock %}
  </head>
{% endblock %}

  <body>
    {% include 'header.twig' with {
      phone: global_phone,
      email: global_email,
      ctas: global_header_ctas,
    } %}
    <main id="main" class="page">
      {% block content %}
        Sorry, no content
      {% endblock %}

      {% block footer %}
        {% include 'contact-section.twig' with {
          heading: "Let's <strong>Listen Before We</strong> Talk.",
          image: {
            src: Image(global_contact_image).src('standard'),
            alt: Image(global_contact_image).alt
          },
          ctas: global_contact_ctas,
          content: global_contact_outro,
        } %}
        {% include 'footer.twig' with {
          phone: global_phone,
          email: global_email,
        } %}
        {{ function('wp_footer') }}
      {% endblock %}
    </main>
  </body>
</html>
