@import '~variables';

.logo-section {
  padding: 60px 0 0;

  @include breakpoint(large) {
    padding: 100px 0 0;
  }

  &__inner {
    @include flex-grid-row;
  }

  &__inner + &__inner {
    margin-top: 100px;
  }

  &__intro {
    @include flex-grid-column(12);

    text-align: center;

    @include breakpoint(large) {
      @include grid-column-offset(2);
      @include flex-grid-column(8);
    }
  }

  &__list {
    @include flex-grid-column(12);

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    li {
      display: inline-flex;
      justify-content: center;
      flex-shrink: 0;
      width: calc(50% - 40px);
      font-size: 0;
      margin: 0 20px 80px;

      @include breakpoint(medium) {
        width: 25%;
        margin: 0 30px 100px;
      }

      @include breakpoint(xlarge) {
        width: 15%;
      }
    }

    img {
      width: 100%;
      height: 100%;
      max-width: 250px;
      max-height: 70px;

      @include breakpoint(medium) {
        max-height: 90px;
      }
    }
  }
}