<section class="logo-section">
  <div class="logo-section__inner">
    <div class="logo-section__intro">
      <h2 class="logo-section__heading heading-style-4 text-dark">{{ heading }}</h2>
      <p class="logo-section__p paragraph-style-1">{{ paragraph }}</p>
    </div>
  </div>
  <div class="logo-section__inner">
    <ul class="logo-section__list">
      {% for logo in logos %}
        {% if not logo.image.src %}
          {% set image = {
            src: Image(logo.image).src('full'),
            alt: Image(logo.image).alt
          } %}
        {% endif %}
        <li><img src="{{ image.src }}" alt="{{ image.alt }}" /></li>
      {% endfor %}
    </ul>
  </div>
</section>