@import '~variables';

.roulette-carousel {
  width: 100%;
  max-width: 1300px;
  padding-bottom: 60px;
  margin: 0 auto;

  @include breakpoint(large) {
    padding-bottom: 100px;
  }

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 0;

    @include breakpoint(medium) {
      flex-direction: row;
    }
  }

  &__inner + .btn--red {
    display: block;
    width: calc(100% - 40px);
    margin: 60px 20px 0;

    @include breakpoint(medium) {
      width: auto;
      margin: 60px auto 0;
    }
  }

  &__become {
    z-index: 1;
    top: 10%;
    left: 50%;
    padding: 6px 20px;
    line-height: (50 / 62);
    font-family: $font-primary;
    font-size: rem-calc(30px);
    font-weight: 600;
    letter-spacing: rem-calc(4px);
    text-transform: uppercase;
    text-align: center;
    color: $white;
    background-color: $red;

    @include breakpoint(medium) {
      position: absolute;
      padding: 10px 30px;
      font-size: rem-calc(40px);
      transform: translateX(-50%);
    }
  }

  &__window {
    width: 100%;

    @include breakpoint(medium) {
      width: 50%;
    }

    &:nth-child(even) .roulette-carousel__heading {
      align-self: flex-end;

      @include breakpoint(medium) {
        align-self: flex-start;
      }
      
      .roulette-carousel--plus & {
        align-self: center;
      }
    }

    &:nth-child(odd) .roulette-carousel__heading {
      align-self: flex-end;

      .roulette-carousel--plus & {
        align-self: center;
      }
    }
  }

  &__slide {
    position: relative;
  }

  .slick-slide {
    border: 0;
  }

  &__overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);

    .roulette-carousel--plus & {
      justify-content: center;
    }
  }

  &__heading {
    padding: 10px 20px;

    @include breakpoint(large) {
      padding: 20px;
    }

    .roulette-carousel--plus & {
      padding: 0 20px;
      text-align: center;

      @include breakpoint(medium) {
        padding: 0 15px;
        margin-top: 10%;
      }
    }
  }

  .heading-style-lg {
    @include breakpoint(medium) {
      font-size: rem-calc(50px);
    }

    @include breakpoint(xlarge) {
      font-size: rem-calc(60px);
    }
  }

  &__image {
    position: relative;
    width: 100%;
    padding-top: 50%;

    @include breakpoint(medium) {
      padding-top: 80%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__divider {
    position: absolute;
    left: 50%;
    bottom: 8%;
    display: none;
    width: 250px;
    fill: $white;
    transform: translateX(-50%);

    @include breakpoint(large) {
      display: block;
    }
  }
}