<section class="roulette-carousel{% if plus %} roulette-carousel--plus{% endif %}" data-roulette-carousel>
  <div class="roulette-carousel__inner">
    {% if plus %}
      <div class="roulette-carousel__become">Become</div>
    {% endif %}
    <div class="roulette-carousel__window" data-roulette-carousel-window>
      {% for slide in column_1 %}
        <div class="roulette-carousel__slide">
          <div class="roulette-carousel__overlay">
            <h3 class="roulette-carousel__heading {% if plus %}heading-style-lg{% else %}heading-style-5{% endif %} text-light"><span>{{ slide.heading }}</span></h3>
          </div>
          {% if not slide.image.src %}
            {% set image = {
              src: Image(slide.image).src('long'),
              alt: Image(slide.image).alt
            } %}
          {% endif %}
          <div class="roulette-carousel__image">
            <img src="{{ image.src }}" alt="{{ image.alt }}" />
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="roulette-carousel__window" data-roulette-carousel-window>
      {% for slide in column_2 %}
        <div class="roulette-carousel__slide">
          <div class="roulette-carousel__overlay">
            <h3 class="roulette-carousel__heading {% if plus %}heading-style-lg{% else %}heading-style-5{% endif %} text-light"><span>{{ slide.heading }}</span></h3>
          </div>
          {% if not slide.image.src %}
            {% set image = {
              src: Image(slide.image).src('long'),
              alt: Image(slide.image).alt
            } %}
          {% endif %}
          <div class="roulette-carousel__image">
            <img src="{{ image.src }}" alt="{{ image.alt }}" />
          </div>
        </div>
      {% endfor %}
    </div>
    {% if plus %}
      <svg class="roulette-carousel__divider" class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 306.7 23.5">
        <path d="M301.8 6.9c-2.1 0-4 1.4-4.6 3.4h-13.3L251.4.1h-16.2V0H71.5v.1H55.7L22.9 10.3H9.5C8.9 8.2 7 6.9 4.9 6.9 2.2 6.9 0 9 0 11.8s2.2 4.9 4.9 4.9c2.1 0 4-1.4 4.6-3.4h13.4l32.4 10.2h16.2v.1h163.7v-.1h15.9l32.8-10.2h13.4c.6 2 2.5 3.4 4.6 3.4 2.7 0 4.9-2.2 4.9-4.9-.1-2.8-2.3-4.9-5-4.9zM55.6 20.4l-22.7-7.1h22.7v7.1zm0-10.1H33l22.6-7v7zm5.3 10.2h-2.3v-7.2h2.3v7.2zm0-10.2h-2.3V3.1h2.3v7.2zm5.2 10.2h-2.3v-7.2h2.3v7.2zm0-10.2h-2.3V3.1h2.3v7.2zm5.4 10.2h-2.4v-7.2h2.4v7.2zm0-10.2h-2.4V3.1h2.4v7.2zm3-7.3h67v7.3h-67V3zm0 17.5v-7.3h67v7.3h-67zm70 0V3h17.6v17.5h-17.6zm87.7 0h-67v-7.3h67v7.3zm0-10.2h-67V3h67v7.3zm5.4 10.2h-2.4v-7.2h2.4v7.2zm0-10.2h-2.4V3.1h2.4v7.2zm5.3 10.2h-2.3v-7.2h2.3v7.2zm0-10.2h-2.3V3.1h2.3v7.2zm5.2 10.2h-2.3v-7.2h2.3v7.2zm0-10.2h-2.3V3.1h2.3v7.2zm3 10v-7h22.6l-22.6 7zm0-10V3.1l22.7 7.1h-22.7z" fill="#fff"/>
      </svg>
    {% endif %}
  </div>
  <button class="btn--red" data-roulette-carousel-btn>Shuffle</button>
</section>