@import '~variables';

// Hero styles here

.icons {
  font-family: "Open Sans", Helvetica, sans-serif;

  &__group {
    display: flex;
    flex-direction: column;
  }

  &__header {
    font-size: 24px;
  }

  &__header + &__inner {
    margin-top: 20px;
  }

  &__inner {
    overflow: hidden;
  }

  &__items-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  &__item {
    width: 16.6666667%;
    padding: 0 15px;
    margin-bottom: 30px;
  }

  &__block-wrap {
    border: 1px solid #dcdcdc;
  }

  &__block {
    position: relative;
    display: block;
    padding-top: 70%;
  }

  &__block-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__svg {
    max-width: 50%;
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 15px;
    font-size: 14px;
    background-color: #fff;
    border-top: 1px solid #dcdcdc;
  }

  p {
    text-align: center;
  }
}