<div class="icons">
  {% for group in groups %}
    <div class="icons__group">
      <h2 class="icons__header">{{ group.name }}</h2>
      <div class="icons__inner">
        <div class="icons__items-wrap">
          {% for icon in group.icons %}
            <div class="icons__item">
              <div class="icons__block-wrap">
                <div class="icons__block">
                  <div class="icons__block-overlay">
                    <div>
                      {% include '@icon' with {
                        name: icon.name,
                        size: 'xl'
                      } %}
                    </div>
                  </div>
                </div>
                <div class="icons__details">
                  <p>{{ icon.label }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
