<section class="article-section">
  <div class="article-section__inner">
    {% for item in items %}
      <div class="article-section__item">
        <div class="article-section__image">
          {% if not item.image.src %}
            {% set image = {
              src: Image(item.image).src('standard'),
              alt: Image(item.image).alt
            } %}
          {% endif %}
          <img src="{{ image.src }}" alt="{{ image.alt }}" />
        </div>
        <p class="article-section__p text-primary">{{ item.paragraph }}</p>
        <div class="article-section__name heading-style-5 text-red">{{ item.name }}</div>
      </div>
    {% endfor %}
  </div>
</section>