@import '~variables';

.article-section {
  padding: 60px 0;

  &__inner {
    @include flex-grid-row;
  }

  &__item {
    @include flex-grid-column(12);

    @include breakpoint(medium) {
      @include flex-grid-column(4);
    }
  }

  &__item + &__item {
    margin-top: 60px;

    @include breakpoint(medium) {
      margin-top: 0;
    }
  }

  &__image {
    position: relative;
    overflow: hidden;
    padding-top: 79.63%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__image + &__p {
    margin-top: 30px;

    @include breakpoint(xlarge) {
      margin-top: 60px;
    }
  }

  &__p {
    @include paragraph-style-1();

    @include breakpoint(xlarge) {
      line-height: (55 / 45);
      font-family: $font-primary;
      font-size: rem-calc(30px);
      font-weight: 400;
    }
  }

  &__p + &__name {
    margin-top: 10px;
  }
}