<section class="gallery-carousel" data-gallery-carousel>
  <h2 class="gallery-carousel__heading heading-style-4 text-dark">{{ heading }}</h2>
  <div class="gallery-carousel__window-wrap">
    <div class="gallery-carousel__window" data-gallery-carousel-window>
      {% for slide in slides %}
        <div class="gallery-carousel__slide">
          <div class="gallery-carousel__inner">
            <div class="gallery-carousel__image">
              <span>
                {% if not slide.image.src %}
                {% set image = {
                    src: Image(slide.image).src('large'),
                    alt: Image(slide.image).alt
                  } %}
                {% endif %}
                <img src="{{ image.src }}" alt="{{ image.alt }}" />
              </span>
            </div>
            <div class="gallery-carousel__main">
              <div class="gallery-carousel__content">
                <h3 class="heading-style-5 text-dark">{{ slide.heading }}</h3>
                <p class="paragraph-style-1 text-primary">{{ slide.paragraph }}</p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="gallery-carousel__dots-wrap" data-gallery-carousel-dots-wrap></div>
  </div>
  {% include 'icon.twig' with {
    name: 'chevron_large',
    class: 'gallery-carousel__base-chevron'
  } %}
</section>