@import '~variables';

.gallery-carousel {
  position: relative;

  @include breakpoint(large) {
    padding: 0 100px;
  }

  &__heading {
    @include flex-grid-row;
    @include flex-grid-column(12);

    @include breakpoint(large) {
      @include flex-grid-column(10);
    }

    justify-content: center;
    text-align: center;
  }

  &__heading + &__window-wrap {
    margin-top: 60px;
  }

  &__window-wrap {
    position: relative;
  }

  &__window + &__dots-wrap {
    @include breakpoint(large) {
      margin-top: 60px;
    }
  }

  &__inner {
    @include flex-grid-row;
  }

  &__image {
    @include flex-grid-column(12);

    @include breakpoint(xlarge) {
      @include flex-grid-column(7);
    }

    span {
      position: relative;
      display: block;
      padding-top: 87%;
      overflow: hidden;
      margin: 0 -20px;

      @include breakpoint(medium) {
        padding-top: 80%;
        margin: 0;
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__image + &__main {
    margin-top: 60px;

    @include breakpoint(xlarge) {
      margin-top: 0;
    }
  }

  &__main {
    @include flex-grid-column(12);

    display: flex;
    flex-direction: column;
    justify-content: center;

    @include breakpoint(xlarge) {
      @include flex-grid-column(5);
    }
  }

  &__content {
    @include breakpoint(xlarge) {
      padding-left: 50px;
    }
  }

  .slick-arrow {
    @include carousel-arrow();

    position: absolute;
    top: 50%;
    display: none !important;
    transform: translateY(-50%);

    @include breakpoint(large) {
      display: block !important;
    }
  }

  .slick-prev {
    left: -65px;
  }

  .slick-next {
    right: -65px;
  }

  &__dots-wrap {
    @include carousel-dots();

    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 80%;

    @include breakpoint(large) {
      position: static;
      width: auto;
      margin-top: 0;
    }
  }
}