@import '~variables';

$icon-size-sm: 16px;
$icon-size-md: 24px;
$icon-size-lg: 36px;
$icon-size-xl: 48px;

.icon {
  display: block;

  &--sm {
    width: $icon-size-sm;
    height: $icon-size-sm;
  }

  &--md {
    width: $icon-size-md;
    height: $icon-size-md;
  }

  &--lg {
    width: $icon-size-lg;
    height: $icon-size-lg;
  }

  &--xl {
    width: $icon-size-xl;
    height: $icon-size-xl;
  }
}
