{% set iconUrl = ('/main.svg#u-icon-' ~ name) | path %}

{% set iconClass = (size is empty) ? '' : 'icon--' ~ size %}


<svg class="icon {{iconClass}} {% if class is defined %}{{ class }}{% endif %}">
  <use xlink:href="{{ iconUrl }}"></use>
</svg>
