<section class="headline-carousel" data-headline-carousel>
  <div class="headline-carousel__overlay">
    {% for slide in slides %}
      <h2 class="headline-carousel__heading" data-headline-carousel-heading>{{ slide.heading }}</h2>
    {% endfor %}
  </div>
  <div class="headline-carousel__window" data-headline-carousel-window>
    {% for slide in slides %}
      <div class="headline-carousel__slide">
        <img src="{{ slide.image.src }}" alt="{{ slide.image.alt }}" />
      </div>
    {% endfor %}
  </div>
</section>