@import '~variables';
@import '~slick-carousel/slick/slick';

.headline-carousel {
  position: relative;
  
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.6);
  }

  &__heading {
    visibility: hidden;
    color: $white;

    &.active {
      visibility: visible;
    }
  }

  &__window {
    position: relative;
    width: 100%;
    font-size: 0;
  }

  &__slide {
    position: relative;
    width: 100%;
    height: 500px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .slick-arrow {
    position: absolute;
  }
}