<section class="image-context-section{% if dark %} image-context-section--dark{% endif %}">
  {% if dark %}
    <div class="image-context-section__emblem">
      {% include 'icon.twig' with {
        name: 'emblem_heart',
      } %}
    </div>
  {% endif %}
  {% if (heading) or (paragraph) %}
    <div class="image-context-section__inner">
      <div class="image-context-section__intro">
        <h2 class="image-context-section__heading heading-style-lg text-dark">{{ heading }}</h2>
        <p class="image-context-section__p paragraph-style-1 text-primary">{{ paragraph }}</p>
      </div>
      {% include 'icon.twig' with {
        name: 'decor_castle',
        class: 'image-context-section__castle',
      } %}
    </div>
  {% endif %}
  {% for item in items %}
    {% include 'image-context.twig' with item|merge({
      index: loop.index,
    }) %}
  {% endfor %}
  {% if dark %}
    <svg class="image-context-section__divider" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 306.7 23.5">
      <path d="M301.8 6.9c-2.1 0-4 1.4-4.6 3.4h-13.3L251.4.1h-16.2V0H71.5v.1H55.7L22.9 10.3H9.5C8.9 8.2 7 6.9 4.9 6.9 2.2 6.9 0 9 0 11.8s2.2 4.9 4.9 4.9c2.1 0 4-1.4 4.6-3.4h13.4l32.4 10.2h16.2v.1h163.7v-.1h15.9l32.8-10.2h13.4c.6 2 2.5 3.4 4.6 3.4 2.7 0 4.9-2.2 4.9-4.9-.1-2.8-2.3-4.9-5-4.9zM55.6 20.4l-22.7-7.1h22.7v7.1zm0-10.1H33l22.6-7v7zm5.3 10.2h-2.3v-7.2h2.3v7.2zm0-10.2h-2.3V3.1h2.3v7.2zm5.2 10.2h-2.3v-7.2h2.3v7.2zm0-10.2h-2.3V3.1h2.3v7.2zm5.4 10.2h-2.4v-7.2h2.4v7.2zm0-10.2h-2.4V3.1h2.4v7.2zm3-7.3h67v7.3h-67V3zm0 17.5v-7.3h67v7.3h-67zm70 0V3h17.6v17.5h-17.6zm87.7 0h-67v-7.3h67v7.3zm0-10.2h-67V3h67v7.3zm5.4 10.2h-2.4v-7.2h2.4v7.2zm0-10.2h-2.4V3.1h2.4v7.2zm5.3 10.2h-2.3v-7.2h2.3v7.2zm0-10.2h-2.3V3.1h2.3v7.2zm5.2 10.2h-2.3v-7.2h2.3v7.2zm0-10.2h-2.3V3.1h2.3v7.2zm3 10v-7h22.6l-22.6 7zm0-10V3.1l22.7 7.1h-22.7z" />
    </svg>
  {% endif %}
</section>