@import '~variables';

.image-context-section {
  position: relative;
  padding: 60px 0;

  @include breakpoint(large) {
    padding: 100px 0;
  }

  &--dark {
    background-color: $navy;

    @include breakpoint(medium) {
      padding: 200px 0 60px;
    }

    @include breakpoint(large) {
      padding: 200px 0 100px;
    }
  }

  &__emblem {
    position: absolute;
    top: -20px;
    right: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
    background-color: $infrared;
    border-radius: 50%;

    @include breakpoint(medium) {
      width: 240px;
      height: 240px;
    }

    @include breakpoint(large) {
      top: -100px;
      width: 300px;
      height: 300px;
    }

    @include breakpoint(xlarge) {
      right: 80px;
    }

    svg {
      width: 140px;
      height: 140px;
      fill: $navy;

      @include breakpoint(medium) {
        width: 180px;
        height: 180px;
      }

      @include breakpoint(large) {
        width: 260px;
        height: 260px;
      }
    }
  }

  &__intro {
    @include flex-grid-column(12);

    z-index: 1;
    position: relative;
    padding-bottom: 100px;

    @include breakpoint(medium) {
      @include flex-grid-column(10);
      @include grid-column-offset(1);

      padding-bottom: 700px;
    }

    @include breakpoint(large) {
      @include flex-grid-column(8);
      @include grid-column-offset(2);

      padding-bottom: 840px;
    }
  }

  &__castle {
    z-index: 0;
    position: absolute;
    top: 220px;
    left: 0;
    display: none !important;
    width: 1080px;
    height: 1370px;
    fill: $gold;
    transform: translateX(-60%);

    @include breakpoint(medium) {
      display: block !important;
    }

    @include breakpoint(large) {
      top: 0;
    }
  }

  &__heading,
  &__p {
    .image-context-section--dark & {
      color: $white;
    }
  }

  &__heading {
    text-align: center;
  }

  .heading-style-lg {
    @include breakpoint(xlarge) {
      font-size: rem-calc(100px);
    }
  }

  &__heading + &__p {
    margin-top: 60px;
  }

  &__p {
    text-align: center;
  }

  &__divider {
    display: block;
    width: 250px;
    margin: 60px auto 0;
    fill: $gold;
  }
}