@import '~variables';

.hero {
  position: relative;
  width: 100%;
  height: calc(100vh - 70px);
  overflow: hidden;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  &__inner {
    @include flex-grid-row;
    width: 100%;
  }

  &__main {
    @include flex-grid-column(12);
  }

  &__heading {
    text-align: center;
  }

  &__divider {
    display: block;
    width: 250px;
    margin: 60px auto 0;
    fill: $white;
  }

  video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -10;
    background-repeat: repeat;
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: contain;
    transform: translateX(-25%);

    @include breakpoint(medium) {
      transform: none;
    }
  }
}