@import '~variables';

.color-palette {
  font-family: "Open Sans", Helvetica, sans-serif;

  &__group {
    display: flex;
    flex-direction: column;
  }

  &__header {
    font-size: 24px;
  }

  &__header + &__inner {
    margin-top: 20px;
  }

  &__inner {
    overflow: hidden;
  }

  &__items-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  &__item {
    width: 16.6666667%;
    padding: 0 15px;
    margin-bottom: 30px;
  }

  &__block-wrap {
    border: 1px solid #dcdcdc;
  }

  &__block {
    display: block;
    padding-top: 50%;
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 15px;
    font-size: 14px;
    background-color: #fff;

    p + p {
      margin-top: 10px;
    }
  }
}