<div class="color-palette">
    {% for group in groups %}
        <div class="color-palette__group">
            <h2 class="color-palette__header">{{ group.name }}</h2>
            <div class="color-palette__inner">
                <div class="color-palette__items-wrap">
                    {% for color in group.colors %}
                        <div class="color-palette__item">
                            <div class="color-palette__block-wrap">
                                <div class="color-palette__block" style="background-color: {{ color.hex }}"></div>
                                <div class="color-palette__details">
                                    <p>{{ color.variable }}</p>
                                    <p>{{ color.hex }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>