@import '~variables';

.intro-context {
  padding: 60px 0;

  &__inner {
    @include flex-grid-row;
  }

  &__main {
    @include flex-grid-column(12);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include breakpoint(medium) {
      @include grid-column-offset(2);
      @include flex-grid-column(8);
    }
  }
}

section + .intro-context,
div + .intro-context {
  margin-top: 60px;
}
