<section class="intro-context">
  <div class="intro-context__inner">
    <div class="intro-context__main">
      <h2 class="intro-context__heading heading-style-4 text-dark">{{ heading }}</h2>
      <p class="intro-context__p paragraph-style-1">{{ paragraph }}</p>
    </div>
  </div>
</section>